doctype html
//
  Fractal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title RedadAlertas
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title', content='RedadAlertas')
    meta(property='og:url', content='http://redadalertas.com')
    meta(property='og:image', content=  '')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='fb:app_id', content='')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='theme-color', content='#00aadd')
    link(rel='stylesheet', href='assets/sass/main.css')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
      link(rel='stylesheet', href='assets/sass/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/sass/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/sass/ie9.css')
      
  body#top
    // Header
    header#header
      .content
        h1
          a(href='#') RedadAlertas
        p
          | Realtime, verified alerts of ICE raids
          br
          | delivered to you securely.
          
        ul.actions
          li
            a.button.special.icon.fa-code-fork(href='https://github.com/Cosecha/redadalertas/wiki', target="_blank") Fork & Contribute
          li
            a.button.icon.fa-chevron-down.scrolly(href='#one') Learn More
      .image.phone
        .inner
          img(src='assets/images/screen.jpg', alt='RedadAlertas')
    // One
    section#one.wrapper.style2.special
      header.major
        h2
          | Open-Source, Volunteer Led
          br
          | Following 
          a(href="http://www.lahuelga.com/strategy/", target="_blank") Cosecha 
          | Principles
      ul.icons.major
        li
          span.icon.fa-camera-retro
            span.label Shoot
        li
          span.icon.fa-refresh
            span.label Process
        li
          span.icon.fa-cloud
            span.label Upload
    // Two
    section#two.wrapper
      .inner.alt
        section.spotlight
          .image
            img(src='assets/images/pic01.jpg', alt='')
          .content
            h3 What are we trying to do?
            p
              | We are trying to develop a tool that will deliver real-time, verified alerts about nearby ICE raids, checkpoints or other types of immigration enforcement activity. The app will also allow witnesses to report raids or sightings along with critical details, which will then aid in verification of raids by advocates. These alerts will inform vulnerable immigrants of risks they may face in their neighborhood or workplace. They will also enable legal aid groups, community organizations and activists respond rapidly to protect immigrant communities.
        section.spotlight
          .image
            img(src='assets/images/pic02.jpg', alt='')
          .content
            h3 Will this be a Mobile App?
            p
              | Initially, RedadAlertas will not be a mobile app - it will be a webapp accessible via a website and text message-based alerts. Once we have built a working webapp, we intend to rapidly build towards a RedadAlertas mobile app that would be available through app stores. 
            p
              | Initially RedadAlertas will be accessed via a mobile-friendly website where a user can specify your zip code and phone number in order to receive text message-based alerts about raids in your area. Users will be also be able to use the website to report and verify raids. Alerts will also be posted to the website and region-specific social media accounts that can monitored by journalists and others.

            p
              | Eventually, the tool will also be available as a mobile app that will provide location-based notifications to alert users about nearby raids and other immigration enforcement activity. A mobile app will also make it easier for witnesses to report raids, verify raids, and call for help from advocates.
        section.spotlight
          .image
            img(src='assets/images/pic03.jpg', alt='')
          .content
            h3 Who is building RedadAlertas?
            p
              | RedadAlertas was created as an open-source project by Celso Mireles, a formerly undocumented software developer and tech activist based in Phoenix, AZ. Over a dozen developers, organizers and legal experts from around the country - many of whom are immigrants - have joined the project and are volunteering their time to build the app using collaboration and open-source tools.
        section.spotlight
          .image 
            img(src="assets/images/pic03.jpg", alt="")
          .content 
            h3 Why is this developed as open-source?
            p
              | Open-source software increases the quality of the codebase, and can be more secure. The code created is open for other experts to audit, critique, and point out vulnerabilities. With open-source software, instead of having to trust a few unknown developers, you are trusting a community of developers that are monitoring, auditing, finding issues, and helping fix them.
        section.spotlight
          .image 
            img(src="assets/images/pic03.jpg", alt="")
          .content 
            h3 How will RedadAlertas protect user privacy?
            p
              | The app will generate several different kinds of alerts which carry different levels of risk of surveillance. Text message alerts may put vulnerable users at risk, although we will work to minimize such risks. Privacy-conscious users could anonymously use the website to monitor alerts by searching a zip code. We intend to improve the privacy of this app when we move towards development of a mobile app.

        section.special
          ul.icons.labeled
            li
              span.icon.fa-camera-retro
                span.label Crowdsourced State Surveillance
            li
              span.icon.fa-refresh
                span.label Realtime
            li
              span.icon.fa-cloud
                span.label Public Raid Data
            li
              span.icon.fa-code
                span.label Open Source
            li
              span.icon.fa-mobile
                span.label Mobile Acccessible
    // Three
    section#three.wrapper.style2.special
      header.major
        h2 Thanks to our contributors!
        p
          | This project would be nowhere without the work of awesome 
          br
          | 					developers contributing their time and expertise.
      ul.actions
        li
          a.button.special.icon.fa-github(href='https://github.com/Cosecha/redadalertas/graphs/contributors', target="_blank") Web Application
        li
          a.button.special.icon.fa-github(href='https://github.com/Cosecha/redadalertas-api/graphs/contributors', target="_blank") Server Project
        //- li
        //-   a.button(href='#') Learn More
  
    // Footer
    footer#footer
      ul.icons
        li
          a.icon.fa-facebook(href='https://www.facebook.com/RedadAlertas-407996836215580/?ref=br_rs', target="_blank")
            span.label Facebook
        //- li
        //-   a.icon.fa-twitter(href='#')
        //-     span.label Twitter
        //- li
        //-   a.icon.fa-instagram(href='#')
        //-     span.label Instagram
      p.copyright
        | © 2017. Credits: 
        a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
